<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block">
  <div class="Container__Img">
    <img src="../../assets/images/chat_logo.png">
  </div>
  <a href="#" class="w3-bar-item w3-button">Amis</a>
  <div class="Container__Friend">
    <div class="w3-cell" style="width:30%">
      <img src="../../assets/images/avatar2.png" class="Container__Friend--Img">
    </div>
    <div class="w3-cell w3-container">
      <div class="Container__Friend--Name">Frozen</div>
    </div>
  </div>
  <div class="Container__Friend">
    <div class="w3-cell" style="width:30%">
      <img src="../../assets/images/avatar2.png" class="Container__Friend--Img">
    </div>
    <div class="w3-cell w3-container">
      <div class="Container__Friend--Name">Frozen</div>
    </div>
  </div>
  <div class="Container__Friend">
    <div class="w3-cell" style="width:30%">
      <img src="../../assets/images/avatar2.png" class="Container__Friend--Img">
    </div>
    <div class="w3-cell w3-container">
      <div class="Container__Friend--Name">Frozen</div>
    </div>
  </div>
  <a href="#" (click)="goTo(1)" class="w3-bar-item w3-button">Messages</a>
  <a href="#" (click)="goTo(2)" class="w3-bar-item w3-button">Chat</a>


  <div class="Container__Profile" (click)="goTo(3)">
    <div class="Container__Profile__Container__Img">
      <img src="../../assets/images/avatar.png" class="Container__Profile__Img" alt="Avatar">
    </div>
  </div>
  <div class="Container__Profile__Info">
    <p>Samuel Kabbaj</p>
    <p>24 Ans</p>
    <p>Smile OpenSource</p>
    <p>Homme</p>
    <p>En couple</p>
    <p>Voyage & peinture</p>
    <a href="#" (click)="logOut()" *ngIf="toggle.isLog">Déconnexion</a>
    <a href="#" (click)="logIn()" *ngIf="!toggle.isLog">Connexion</a>
  </div>
</div>

