/*CHAT START */


.Container__Chat{
  position: relative;
  right: 10px;
  bottom: 10px;
  width: calc(100vw - 15vw - 10px - 10px - 10px);
  margin: 20px 0 60px 16vw;
}

/* Chat Container__Chat__Messages */
.Container__Chat__Message {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat Container__Chat__Message */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.Container__Chat__Message::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.Container__Chat__Message img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.Container__Chat__Message img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: left;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: right;
  color: #999;
}

.Container__Chat__Message--Text {
  float: right;
}

.textarea {
  position: fixed;
  border: 1px solid cadetblue;
  width: calc(100vw - 15vw - 10px - 10px - 10px);
  bottom: 0;
  right: 10px;
  height: 50px;
  z-index: 99;
  background: #fafafa;
  outline: none;
  padding-left: 55px;
  padding-right: 220px;
  color: #666;
  font-weight: 400;
  margin-bottom: 10px;
  border-radius: 5px;
}

.button {
  display: inline-block;
  padding: 0 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: cadetblue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px 5px #999;
  position: fixed;
  bottom: 17px;
  right: 20px;
  z-index: 100;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.friend-sidebar{
  left: 15vw;
}