/*CHAT START */


.Container__Chat{
  position: absolute;
  right: 10px;
  width: calc(100vw - 15vw - 10px - 10px - 10px);
  margin: 20px 0 70px 16vw;
  padding-bottom: 60px;
}

/* Style time text */
.time-right {
  float: left;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: right;
  color: #999;
}

.textarea {
  position: fixed;
  border: 1px solid cadetblue;
  width: calc(100vw - 15vw - 10px - 10px - 10px);
  height: 50px;
  z-index: 99;
  background: #fafafa;
  outline: none;
  padding-left: 55px;
  padding-right: 220px;
  color: #666;
  font-weight: 400;
  margin-bottom: 10px;
  border-radius: 5px;
  bottom: 0;
}

.button {
  position: fixed;
  right: 10px;
  bottom: 17px;
  display: inline-block;
  padding: 0 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: cadetblue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px 5px #999;
  z-index: 100;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.friend-sidebar{
  left: 15vw;
}