<div class="Container__Chat">
  <div class="Container__Chat__Message">
    <img src="../../assets/images/avatar2.png" alt="Avatar">
    <p>Hello. How are you today?</p>
    <span class="time-left">11:00</span>
  </div>

  <div class="Container__Chat__Message darker">
    <img src="../../assets/images/avatar.png" alt="Avatar" class="right">
    <p class="Container__Chat__Message--Text">Hey im fine thanks ! </p>
    <span class="time-right">11:01</span>
  </div>

  <div class="Container__Chat__Message">
    <img src="../../assets/images/avatar2.png" alt="Avatar">
    <p>Sweet! So, what do you wanna do today?</p>
    <span class="time-left">11:02</span>
  </div>

  <div class="Container__Chat__Message darker">
    <img src="../../assets/images/avatar.png" alt="Avatar" class="right">
    <p class="Container__Chat__Message--Text">Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
    <span class="time-right">11:05</span>
  </div>

  <div class="Container__Chat__Message">
    <img src="../../assets/images/avatar2.png" alt="Avatar">
    <p>Hello. How are you today?</p>
    <span class="time-left">11:00</span>
  </div>

  <div class="Container__Chat__Message darker">
    <img src="../../assets/images/avatar.png" alt="Avatar" class="right">
    <p class="Container__Chat__Message--Text">Hey im fine thanks ! </p>
    <span class="time-right">11:01</span>
  </div>

  <div class="Container__Chat__Message">
    <img src="../../assets/images/avatar2.png" alt="Avatar">
    <p>Sweet! So, what do you wanna do today?</p>
    <span class="time-left">11:02</span>
  </div>

  <div class="Container__Chat__Message darker">
    <img src="../../assets/images/avatar.png" alt="Avatar" class="right">
    <p class="Container__Chat__Message--Text">Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
    <span class="time-right">11:05</span>
  </div>


  <div class="Container__Chat__Message">
    <img src="../../assets/images/avatar2.png" alt="Avatar">
    <p>Hello. How are you today?</p>
    <span class="time-left">11:00</span>
  </div>

  <div class="Container__Chat__Message darker">
    <img src="../../assets/images/avatar.png" alt="Avatar" class="right">
    <p class="Container__Chat__Message--Text">Hey im fine thanks ! </p>
    <span class="time-right">11:01</span>
  </div>

  <div class="Container__Chat__Message">
    <img src="../../assets/images/avatar2.png" alt="Avatar">
    <p>Sweet! So, what do you wanna do today?</p>
    <span class="time-left">11:02</span>
  </div>

  <div class="Container__Chat__Message darker">
    <img src="../../assets/images/avatar.png" alt="Avatar" class="right">
    <p class="Container__Chat__Message--Text">Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
    <span class="time-right">11:05</span>
  </div>

  <div class="Container__Chat__Message">
    <img src="../../assets/images/avatar2.png" alt="Avatar">
    <p>Hello. How are you today?</p>
    <span class="time-left">11:00</span>
  </div>

  <div class="Container__Chat__Message darker">
    <img src="../../assets/images/avatar.png" alt="Avatar" class="right">
    <p class="Container__Chat__Message--Text">Hey im fine thanks ! </p>
    <span class="time-right">11:01</span>
  </div>

  <div class="Container__Chat__Message">
    <img src="../../assets/images/avatar2.png" alt="Avatar">
    <p>Sweet! So, what do you wanna do today?</p>
    <span class="time-left">11:02</span>
  </div>

  <div class="Container__Chat__Message darker">
    <img src="../../assets/images/avatar.png" alt="Avatar" class="right">
    <p class="Container__Chat__Message--Text">Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
    <span class="time-right">11:05</span>
  </div>

  <div class="Container__Chat__Message">
    <img src="../../assets/images/avatar2.png" alt="Avatar">
    <p>Hello. How are you today?</p>
    <span class="time-left">11:00</span>
  </div>

  <div class="Container__Chat__Message darker">
    <img src="../../assets/images/avatar.png" alt="Avatar" class="right">
    <p class="Container__Chat__Message--Text">Hey im fine thanks ! </p>
    <span class="time-right">11:01</span>
  </div>

  <div class="Container__Chat__Message">
    <img src="../../assets/images/avatar2.png" alt="Avatar">
    <p>Sweet! So, what do you wanna do today?</p>
    <span class="time-left">11:02</span>
  </div>

  <div class="Container__Chat__Message darker">
    <img src="../../assets/images/avatar.png" alt="Avatar" class="right">
    <p class="Container__Chat__Message--Text">Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
    <span class="time-right">11:05</span>
  </div>


</div>

<input class="textarea" type="text" placeholder="Type here!"/><div class="emojis"></div>
<button class="button">Click Me</button>
