<div class="Container__InfoProfile">
  <div class="card">
    <div class="Container__Picture">
      <img src="../../assets/images/man.png"
           alt="{{username}}"
           class="Img"
           *ngIf="!avatar">
      <img [src]="getAvatar()"
           alt="{{username}}"
           class="Img"
           *ngIf="avatar">
      <div *ngIf="isMe" class="image-upload">
        <label for="file-input">
          <img src="http://goo.gl/pB9rpQ"/>
        </label>
          <input (change)="changeListener($event)" id="file-input" type="file"/>
      </div>
    </div>
    <h1>{{username}}</h1>
    <h3>{{fullName}}</h3>
    <p class="title">{{getBirthdate()}}</p>
    <p>{{country}}</p>
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <button *ngIf="displayAdd()" (click)="addFriend()">Add friend</button>
    <button *ngIf="!isMe  && isFriend" (click)="startConversation()">Let's chat !</button>
    <button *ngIf="!isMe" (click)="sendEmail()">Contact</button>
    <div *ngIf="isMe" class="Delete" (click)="deleteAccount()">
        Supprimer mon compte
    </div>

    <div class="Error" *ngIf="errorSize">
      L'image est trop grosse, Elle doit etre inférieur à 2Mo.
    </div>
    <div class="Error" *ngIf="errorType">
      L'image doit etre de type jpg, jpeg, png ou gif.
    </div>
    <div class="Error" *ngIf="errorFriend">
      Vous avez déja invité cet amis.
    </div>
  </div>
</div>

<div id="snackbar">l'utilisateur {{username}} a bien été ajouté !</div>
