<div>
  <div class="card">
    <img src="../../assets/images/man.png" alt="{{username}}" class="Img" style="width:100%">
    <h1>{{username}}</h1>
    <h3>{{fullName}}</h3>
    <p class="title">{{birthDate}}</p>
    <p>{{country}}</p>
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <button (click)="sendEmail()">Contact</button>
  </div>
</div>
